<%- messages() %> 
<section class="management-login">
    <h1><%= (title) %></h1>
    <h2>Welcome New</h2>
    <p>You're logged in.</p>
    <!-- <a href="/account/edit-account">Edit Account Information</a> -->
</section>