<header class="top-header" id="top-header">
    <span class="siteName">
        <img src="../images/site/icon.png" alt="Logo Image">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div class="tools" id="tools">
        <a title="Click to log in" href="/account/login">My Account</a>
    </div>
</header>