<%- messages() %> 
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
 <% } %>
 <form action="/inv/add-classification" method="post" id="form_addClassification" class="addClassification">
    <h1><%= (title) %></h1>
    <p>ALL FIELDS ARE REQUIRED.</p>
    <fieldset>
        <p>Classification Name</p>
        <label for="addClassification" >NAME MUST BE ALPHABETIC CHARACTERS ONLY.</label>
        <input type="text" name="classification_name" id="addClassification" pattern="[A-Za-z]{3,}" required value="<%= locals.classification_name %>">
        <button type="submit" class="addClassificationBtn">Add Classification</button>
    </fieldset>
 </form>
